* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back: #1a1a1a;
    --txt: #fff;
    --border: rebeccapurple;
}

body {
    background-color: var(--back);
    color: var(--txt);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
    display: flex;
}

#left, #right {
    width: calc(50% - 100px);
}

#left textarea, #right textarea {
    width: 100%;
    padding: 10px;
    height: 100vh;

    background-color: var(--back);
    outline: none;
    border: 0;
    /* border: 1px solid var(--border); */
    /* border-radius: 10px; */
    color: var(--txt);

    resize: none;
}

#center {
    width: 200px;
    text-align: center;
    padding-top: 10px;
    background-color: #111;
    /* border-radius: 10px; */
}

#center button, #center select {
    width: 90%;
    padding: 10px;
    background-color: var(--back);
    border: 1px solid var(--border);
    outline: none;
    border-radius: 10px;
    color: var(--txt);
    margin: 5px 0;
}

#center button {
    cursor: pointer;
    width: 50%;
}

label {
    margin-bottom: 10px;
    display: block;
}

label input[type="checkbox"], label:has(input[type="checkbox"]) {
    cursor: pointer;
}

select {
    cursor: pointer;
}

h2 {
    margin-bottom: 10px;
}